* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1;
  color: #333;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

/**********************/
/* REUSABLE STYLES */
/**********************/

.title-primary {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
}

.link {
  font-size: 0.9rem;
  color: #1971c2;
  border-bottom: 1px solid #1971c2;
}

.link:hover,
.link:active {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

/**********************/
/* COMPONENTS */
/**********************/

/* FORM INPUT */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 4rem;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.form-input {
  font-size: 1rem;
  height: 3rem;
  flex: 1;
  padding-left: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  font-weight: 400;
}

.form-input:focus {
  border: 2px solid #1971c2;
  color: #333;
}

.form-button {
  height: 3rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #1971c2;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.form-button:active,
.form-button:hover {
  background-color: #1c7ed6;
  cursor: pointer;
}

/**********************/
/* TASK LIST */
/**********************/

.active-container {
  overflow: auto;
  flex: 1;
  padding: 0rem 4rem 1rem 4rem;
}

.completed-container {
  max-height: 30vh;
  overflow: auto;
  padding: 0rem 4rem 1rem 4rem;
}

.label-active,
.label-completed {
  /* width: 80%; */
  font-size: 0.9rem;
  background-color: #fff;
  color: #666;
  margin: 0 auto;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.label-completed {
  padding-top: 1.2rem;
  border-top: 1px solid #aaa;
}

.to-do-list,
.completed-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 100;
}

.to-do-list-item,
.completed-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  border-bottom: 1px solid #eee;
  opacity: 100;
  gap: 2rem;
}

.to-do-list-item:last-child,
.completed-list-item:last-child {
  border-bottom: none;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-date {
  font-size: 0.8rem;
  color: #999;
}

.item-text {
  font-size: 1.1rem;
  font-weight: 300;
}

.icon-button,
.icon-button {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.icon-button:hover,
.icon-button:active {
  background-color: #e03131;
  cursor: pointer;
}

.icon-button:hover .icon,
.icon-button:active .icon {
  color: #fff;
}

.icon {
  height: 1.2rem;
  width: 1.2rem;
  color: #333;
}

/**********************/
/* TOAST */
/**********************/

.toast-container {
  padding: 0rem 4rem;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  background-color: #212121;
  border-radius: 4px;
}

.toast-text {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.toast-button {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: none;
  color: #4dabf7;
  border: none;
  border-radius: 4px;
}

.toast-button:active,
.toast-button:hover {
  color: #74c0fc;
  cursor: pointer;
}
